div#pprh-wrapper {

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 1.4em;
    }

    .text-center {
        text-align: center;
    }

    div.pprh-content {
        display: none;

        &.active {
            display: block;
        }

        table.pprh-post-table tbody tr td div.global-hint {
            visibility: hidden;
            height: 19.5px;
        }
    }

    div.pprh-box {
        margin-top: 20px;
    }

    div#pprh-settings {
        > h2 > a:hover {
            cursor: pointer;
        }
    }

    div#pprhNotice {
        margin: 5px 0;
        display: none;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        min-height: 37px;

        &.active {
            display: block;
        }
    }

    div.row-actions {
        min-height: 21px;

        span:hover {
            cursor: pointer
        }
    }

    div.inside tr.pprhGlobalPostPage span.delete a {
        display: none
    }

    tr.pprh-row {

        button.pprh-cancel {
            margin: 0 40px 0 0;
        }

        &.edit {
            display: none;
            text-align: center;

            &.active {
                display: table-row
            }
        }

        &.hint.active {
            display: none
        }
    }

    div.pprh-container {
        max-width: 765px;
        margin: 0 auto;

        &.widefat {
            border-spacing: 2px
        }

        h2 {
            font-size: 23px !important;
            font-weight: 600 !important;
            text-align: center
        }
    }

    table#pprh-enter-data {
        thead tr th {
            text-align: center;
            font-size: 23px;
            font-weight: 600;
            padding: 15px 0;
        }

        tbody tr td {
            text-align: center
        }

        tfoot tr td {
            text-align: center;
            padding: 20px 0;
        }

        &.widefat {
            border-spacing: 2px
        }

        input.pprh_url {
            padding: 5px;
        }
    }

    table.pprh-settings-table {
        font-size: 14px;
        text-align: left;

        tbody tr td {
            margin-bottom: 9px;
            padding: 15px 10px;
            line-height: 1.3;
            vertical-align: middle
        }

        tfoot {
            text-align: center
        }
    }

    th#pprh-url {
        width: 30%
    }

    span.pprh-help-tip-hint {
        position: relative;
        background: inherit;
        border: none;
        padding: 0;
        text-align: center;

        &:before {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-family: 'Dashicons', serif;
            font-weight: 400;
            font-variant: normal;
            line-height: 1;
            margin: 0;
            text-indent: 0;
            content: "\f223";
            cursor: help;
            color: #555;
            vertical-align: middle;
            font-size: 16px;
        }

        &:hover > span {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
            -webkit-transition: 0.3s
        }

        span {
            top: 18px;
            width: 250px;
            margin-left: -148px;
            font-size: 13px;
            line-height: 1.5em;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            background-color: #444;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            padding: 10px;
            z-index: 10000;
            color: #fff !important;

            &::before {
                position: absolute;
                left: 50%;
                top: -13px;
                margin-left: -4px;
                content: " ";
                border-color: transparent transparent #444 transparent;
                border-style: solid;
                border-width: 7px;
                width: 0;
                height: 0
            }
        }
    }

    .pprh-admin-pic {
        display: block;
        margin: 0 auto;
        height: auto;
    }

    div.pprh-code-block {
        margin: 0 auto;
        //width: 650px;
        max-width: 95%
    }

    div.row-actions span input {
        display: none
    }

    #pprhContactAuthor {
        text-align: center
    }
}

div#TB_ajaxContent {
    div#asdf table tbody tr {
        height: 130px;

        td {
            text-align: center;
        }
    }

}